In [16]:
import pandas as pd

In [17]:
data= pd.read_csv("dados_detalhados_olx.csv")

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   TITLE              157 non-null    object
 1   LINK               157 non-null    object
 2   DATE_SCRAPE        157 non-null    object
 3   CEP                157 non-null    int64
 4   CITY               157 non-null    object
 5   NEIGHBORHOOD       157 non-null    object
 6   CONDO              157 non-null    object
 7   TAX                157 non-null    object
 8   AREA               157 non-null    object
 9   ROOMS_NO           157 non-null    object
 10  BATH_NO            157 non-null    object
 11  PARKING_SPOTS      156 non-null    object
 12  APARTMENT_DETAILS  112 non-null    object
 13  PRICE              157 non-null    int64
 14  REGION             157 non-null    object
dtypes: int64(2), object(13)
memory usage: 18.5+ KB

In [20]:
unique_condo_types = data['TAX'].unique()
print(unique_condo_types)

['R$ 396' 'R$ 0' 'R$ 100' 'R$ 36' 'R$ 34' 'R$ 235' 'R$ 1' 'R$ 110' 'R$ 91'
 'R$ 141' 'R$ 125' 'R$ 152' 'R$ 10' 'R$ 922' 'R$ 1.870' 'R$ 117' 'R$ 90'
 'R$ 89' 'R$ 75' 'R$ 1.512' 'R$ 1.213' 'R$ 82' 'R$ 140' 'R$ 886' 'R$ 124'
 'R$ 264' 'R$ 460' 'R$ 475' 'R$ 3.600' 'R$ 240' 'R$ 173' 'R$ 748' 'R$ 640'
 'R$ 2.747' 'R$ 5.100' 'R$ 8.700' 'R$ 4.800' 'R$ 2.117' 'R$ 2.351'
 'R$ 12.000' 'R$ 4.000' 'R$ 545' 'R$ 4.400' 'R$ 1.024' 'R$ 1.200'
 'R$ 15.000' 'R$ 320' 'R$ 200' 'R$ 3.961' 'R$ 732' 'R$ 3.260' 'R$ 121'
 'R$ 190' 'R$ 650' 'R$ 974' 'R$ 750' 'R$ 700' 'R$ 295' 'R$ 394' 'R$ 525'
 'R$ 193' 'R$ 309' 'R$ 15.120' 'R$ 6.300' 'R$ 4.038' 'R$ 795' 'R$ 2.770'
 'R$ 7.420' 'R$ 5.692' 'R$ 2.086' 'R$ 6.472' 'R$ 2.932' 'R$ 343' 'R$ 132'
 '1' 'R$ 103' 'R$ 377' 'R$ 176' 'R$ 476' 'R$ 2.020' '49m²' '44m²' 'R$ 99'
 'R$ 478' 'R$ 161' 'R$ 3.404' 'R$ 150' 'R$ 80' 'R$ 1.400' 'R$ 84' '47m²'
 'R$ 1.962' '73m²' 'R$ 919' 'R$ 260' 'R$ 225' 'R$ 127' 'R$ 2.608' 'R$ 196'
 'R$ 4.159' 'R$ 3.400' 'R$ 3.114' 'R$ 120']