In [1]:
import pandas as pd

In [5]:
data= pd.read_csv("scored_data.csv")

In [8]:
data.columns

Index(['TITLE', 'LINK', 'DATE_SCRAPE', 'CEP', 'CITY', 'NEIGHBORHOOD', 'CONDO',
       'TAX', 'AREA', 'ROOMS_NO', 'BATH_NO', 'PARKING_SPOTS',
       'APARTMENT_DETAILS', 'PRICE', 'REGION', 'DETAIL_Academia',
       'DETAIL_Ar condicionado', 'DETAIL_Armários na cozinha',
       'DETAIL_Armários no quarto', 'DETAIL_Churrasqueira', 'DETAIL_Mobiliado',
       'DETAIL_Piscina', 'DETAIL_Varanda', 'DETAIL_Área de serviço',
       'LOG_AVG_PRICE_PER_SQMT_BY_REGION', 'REGION_barreiro',
       'REGION_pampulha', 'REGION_venda_nova', 'REGION_zona_centro_sul',
       'REGION_zona_leste', 'REGION_zona_nordeste', 'REGION_zona_noroeste',
       'REGION_zona_norte', 'REGION_zona_oeste', 'LOG_AREA', 'LOG_PRICE',
       'UTILS', 'Predictions'],
      dtype='object')

In [9]:
# Assuming data is your DataFrame
# Replace 'Predictions' with the actual column name containing predictions
comparison = data[['PRICE', 'Predictions']].copy()

In [11]:
comparison.sample(5)

      PRICE   Predictions
35  1650000  1.923301e+06
13   450000  4.537280e+05
89   676700  8.195092e+05
27   499900  5.044838e+05
60  2100000  2.068298e+06

In [9]:
column_names = data.columns

print(column_names)

Index(['TITLE', 'LINK', 'DATE_SCRAPE', 'CITY', 'CEP', 'NEIGHBORHOOD', 'CONDO',
       'TAX', 'AREA', 'ROOMS_NO', 'BATH_NO', 'PARKING_SPOTS',
       'APARTMENT_DETAILS', 'PRICE', 'REGION', 'REGIONS', 'DETAIL_Academia',
       'DETAIL_Ar condicionado', 'DETAIL_Armários na cozinha',
       'DETAIL_Armários no quarto', 'DETAIL_Churrasqueira', 'DETAIL_Mobiliado',
       'DETAIL_Piscina', 'DETAIL_Quarto de serviço', 'DETAIL_Varanda',
       'DETAIL_Área de serviço', 'LOG_AVG_PRICE_PER_SQMT_BY_REGION',
       'REGION_barreiro', 'REGION_pampulha', 'REGION_venda_nova',
       'REGION_zona_centro_sul', 'REGION_zona_leste', 'REGION_zona_nordeste',
       'REGION_zona_noroeste', 'REGION_zona_norte', 'REGION_zona_oeste',
       'LOG_AREA', 'LOG_PRICE', 'UTILS'],
      dtype='object')

In [13]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
# Assuming df is your DataFrame
missing_value_counts = data.isna().sum()

print(missing_value_counts)

TITLE                                  0
LINK                                   0
DATE_SCRAPE                            0
CITY                                   0
CEP                                    0
NEIGHBORHOOD                           0
CONDO                                  0
TAX                                    0
AREA                                   0
ROOMS_NO                               0
BATH_NO                                0
PARKING_SPOTS                          0
APARTMENT_DETAILS                   7966
PRICE                                  0
REGION                                 0
REGIONS                                0
DETAIL_Academia                        0
DETAIL_Ar condicionado                 0
DETAIL_Armários na cozinha             0
DETAIL_Armários no quarto              0
DETAIL_Churrasqueira                   0
DETAIL_Mobiliado                       0
DETAIL_Piscina                         0
DETAIL_Quarto de serviço               0
DETAIL_Varanda                         0
DETAIL_Área de serviço                 0
LOG_AVG_PRICE_PER_SQMT_BY_REGION    2343
REGION_barreiro                        0
REGION_pampulha                        0
REGION_venda_nova                      0
REGION_zona_centro_sul                 0
REGION_zona_leste                      0
REGION_zona_nordeste                   0
REGION_zona_noroeste                   0
REGION_zona_norte                      0
REGION_zona_oeste                      0
LOG_AREA                               0
LOG_PRICE                              0
UTILS                                  0
dtype: int64

In [16]:

# Assuming df is your DataFrame
# Replace 'LOG_AVG_PRICE_PER_SQMT_BY_REGION' with the actual column name
column_name = 'LOG_AVG_PRICE_PER_SQMT_BY_REGION'

# Filter rows with NaN values in the specified column
df2 = data[data[column_name].isna()]

In [19]:
df2.sample(5)

,TITLE,LINK,DATE_SCRAPE,CITY,CEP,NEIGHBORHOOD,CONDO,TAX,AREA,ROOMS_NO,BATH_NO,PARKING_SPOTS,APARTMENT_DETAILS,PRICE,REGION,REGIONS,DETAIL_Academia,DETAIL_Ar condicionado,DETAIL_Armários na cozinha,DETAIL_Armários no quarto,DETAIL_Churrasqueira,DETAIL_Mobiliado,DETAIL_Piscina,DETAIL_Quarto de serviço,DETAIL_Varanda,DETAIL_Área de serviço,LOG_AVG_PRICE_PER_SQMT_BY_REGION,REGION_barreiro,REGION_pampulha,REGION_venda_nova,REGION_zona_centro_sul,REGION_zona_leste,REGION_zona_nordeste,REGION_zona_noroeste,REGION_zona_norte,REGION_zona_oeste,LOG_AREA,LOG_PRICE,UTILS
7615,Venda Apartamento 4 quartos Santo Antônio Belo...,https://mg.olx.com.br/belo-horizonte-e-regiao/...,2023-08-06,Belo Horizonte,30330100,Santo Antônio,500.0,201.0,141.0,4,3.0,2.0,NaN,750000.0,zona_centro_sul,zona_centro_sul,0,0,0,0,0,0,0,0,0,0,NaN,0,0,0,1,0,0,0,0,0,4.955827,13.527830,701.0
8306,BELO HORIZONTE - Apartamento Padrão - Barro Preto,https://mg.olx.com.br/belo-horizonte-e-regiao/...,2023-08-06,Belo Horizonte,30190055,Barro Preto,0.0,0.0,48.0,2,2.0,1.0,"Academia,Área de serviço",438000.0,zona_centro_sul,zona_centro_sul,1,0,0,0,0,0,0,0,0,1,NaN,0,0,0,1,0,0,0,0,0,3.891820,12.989976,0.0
7343,COBERTURA 4 QUARTOS A VENDA SERRA,https://mg.olx.com.br/belo-horizonte-e-regiao/...,2023-08-06,Belo Horizonte,30240180,Serra,600.0,3784.0,143.0,4,2.0,3.0,"Área de serviço,Varanda",1310600.0,zona_centro_sul,zona_centro_sul,0,0,0,0,0,0,0,0,1,1,NaN,0,0,0,1,0,0,0,0,0,4.969813,14.085996,4384.0
8171,Apartamento para venda possui 178 metros quadr...,https://mg.olx.com.br/belo-horizonte-e-regiao/...,2023-08-06,Belo Horizonte,30315560,Sion,1037.0,1.0,178.0,5,3.0,3.0,"Churrasqueira,Piscina",1900000.0,zona_centro_sul,zona_centro_sul,0,0,0,0,1,0,1,0,0,0,NaN,0,0,0,1,0,0,0,0,0,5.187386,14.457365,1038.0
8296,"Apartamento à venda, 2 quartos, 1 suíte, 2 vag...",https://mg.olx.com.br/belo-horizonte-e-regiao/...,2023-08-06,Belo Horizonte,30320010,Sion,550.0,270.0,66.0,2,2.0,2.0,NaN,650000.0,zona_centro_sul,zona_centro_sul,0,0,0,0,0,0,0,0,0,0,NaN,0,0,0,1,0,0,0,0,0,4.204693,13.384729,820.0

In [2]:
df_haha = pd.read_csv("dados_detalhados_olx.csv")

In [3]:
df_haha.sample(3)

,LINK,TITLE,PRICE,CEP,NEIGHBORHOOD,CONDO,TAX,AREA,ROOMS_NO,BATH_NO,PARKING_SPOTS,APARTMENT_DETAILS,REGION,CITY,DATE_SCRAPE
333,https://mg.olx.com.br/belo-horizonte-e-regiao/...,"['Apartamento à venda - Flávio De Oliveira, 2 ...",479600,31741455,Heliópolis,R$ 200,R$ 70,47m²,3,2,2,Área de serviço,zona_norte,Belo Horizonte,2023-08-21 18:02:09.958245
310,https://mg.olx.com.br/belo-horizonte-e-regiao/...,"['Apartamento à venda - Flávio De Oliveira, 2 ...",330000,30882010,Serrano,R$ 0,R$ 0,52m²,2,2,1,"Área de serviço, Varanda",zona_noroeste,Belo Horizonte,2023-08-21 18:00:52.801958
239,https://mg.olx.com.br/belo-horizonte-e-regiao/...,"['Apartamento à venda - Flávio De Oliveira, 2 ...",902125,30150323,Funcionários,R$ 0,R$ 0,63m²,2,2,2,"Academia, Área de serviço, Piscina",zona_centro_sul,Belo Horizonte,2023-08-21 17:53:19.859341

In [5]:
region_counts = df_haha['REGION'].value_counts()
print(region_counts)

zona_centro_sul    71
centro sul         62
pampulha           59
zona_noroeste      32
zona_oeste         28
zona_nordeste      24
zona oeste         20
zona_leste         16
zona leste         12
barreiro            7
zona noroeste       7
zona nordeste       6
zona_norte          6
venda nova          5
venda_nova          5
zona norte          3
Name: REGION, dtype: int64

In [9]:
df = pd.read_csv("new_links_olx.csv")

In [10]:
region_counts = df['REGION'].value_counts()
print(region_counts)

zona_centro_sul    72
pampulha           68
centro sul         63
zona_noroeste      35
zona_oeste         34
zona_nordeste      25
zona oeste         21
zona_leste         16
zona leste         12
zona noroeste       8
barreiro            7
zona nordeste       7
zona_norte          6
venda nova          5
venda_nova          5
zona norte          4
Name: REGION, dtype: int64